*{
    margin: 0%;
    padding: 0%;

}

body {
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Restaurant_1_clip_art.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100; 

}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nave a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}


.nave a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .3s;

}

.nave a:hover ::before {
    width: 100%;
}   